{% extends 'base.html.twig' %}
{% block title %}About{% endblock %}
{% block main %}
    <div>
        <section>
            <h1>{{ '_about.title1' | trans }}</h1>
            <p>{{ '_about.p1' | trans }}</p>
        </section>
    </div>
{% endblock %}