{% extends 'base.html.twig' %}
{% block title %}Projects{% endblock %}
{% block main %}
    <div>
        <h1>This are all my project:</h1>
        <div class="d-flex flex-row p-3 justify-content-center align-content-center gap-2">
            <div class="card">
                <img src="../img/spotifyclone.webp" class="card-img-top p-1 mx-auto" alt="Spotify preview">
                <div class="card-body py-1 text-center">
                    <h5 class="card-title">SPOTIFY CLONE</h5>
                    <p class="card-text">Basic Spotify clone</p>
                    <a href="spotify.html" class="btn btn-primary">View more...</a>
                </div>
            </div>
            <div class="card">
                <img src="../img/m4wser.webp" class="card-img-top p-1 mx-auto" alt="M4wser preview">
                <div class="card-body py-1 text-center">
                    <h5 class="card-title">M4WSER</h5>
                    <p class="card-text">Web browser focused in OSINT & enhanced with AI</p>
                    <a href="m4wser.html" class="btn btn-primary">View more...</a>
                </div>
            </div>
            <div class="card">
                <img src="../img/tracker.webp" class="card-img-top p-1 mx-auto" alt="Tracker preview">
                <div class="card-body py-1 text-center">
                    <h5 class="card-title">GAME TRACKER</h5>
                    <p class="card-text">Game stats tracker</p>
                    <a href="tracker.html" class="btn btn-primary">View more...</a>
                </div>
            </div>
            <div class="card">
                <img src="../img/livechat.webp" class="card-img-top p-1 mx-auto" alt="LiveChat preview">
                <div class="card-body py-1 text-center">
                    <h5 class="card-title">LIVE CHAT</h5>
                    <p class="card-text">Live chat</p>
                    <a href="livechat.html" class="btn btn-primary">View more...</a>
                </div>
            </div>
            <div class="card">
                <img src="../img/porfolio.webp" class="card-img-top p-1 mx-auto" alt="Porfolio preview">
                <div class="card-body py-1 text-center">
                    <h5 class="card-title">PORTFOLIO</h5>
                    <p class="card-text">Portfolio</p>
                    <a href="portfolio.html" class="btn btn-primary">View more...</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}