{% extends 'base.html.twig' %}
{% block title %}Projects{% endblock %}
{% block main %}
    <div>
        <section>
            <h1>{{ '_projects.title1' | trans }}</h1>
            <p>{{ '_projects.p1' | trans }}</p>
        </section>
    </div>
{% endblock %}