<footer class="bg-dark text-light py-3">
    <p id="copyright" class="text-center mb-0">&copy;M4ra - 2024</p>
    <p>Redes</p>
    <div class="container align-content-center justify-content-center text-center">
        <button class="custom_btn clear_btn">
            <a href="https://github.com/M4raa" class="btn_top" target="_blank"><i class="fab fa-github"></i></a>
        </button>
        <button class="custom_btn clear_btn">
            <a href="https://www.linkedin.com/in/m4ra/" class="btn_top" target="_blank"><i class="fab fa-linkedin"></i></a>
        </button>
        <button class="custom_btn clear_btn">
            <a href="https://www.instagram.com/" class="btn_top" target="_blank"><i class="fab fa-instagram"></i></a>
        </button>
        <button class="custom_btn clear_btn">
            <a href="https://x.com/" class="btn_top" target="_blank"><i class="fab fa-twitter"></i></a>
        </button>
    </div>
</footer>