/* HEADER STYLES */
header{
    .dropdown-toggle::after {
        content: none;
    }
    .custom-navbar{
        font-size: 20px;
        padding: 5px;
        border-radius: 10px;
        .nav-link{
            border: 1px #838383 solid;
            border-radius: 5px;
            padding: 5px;
        }
        .hover{
            border: 2px #838383 solid;
            border-radius: 8px;
            padding: 7px;
            background-color: #474747;
        }
        .active{
            background-color: #636363;
            border-color: #808080;
        }
    }
    .header_btn{
        padding: 0;
        width: fit-content;
        .btn_top{
            padding: 0.15em 0.33em !important;
        }
    }
    .header_nav{

    }
}
/* INDEX STYLES */
.index{
    .popular_projects{
        .card{
            width: 15rem;
        }
    }
    .tools{
        .card{
            img{
                width: 5rem;
                height: auto;
            }
        }
    }
}
/* MAIN STYLES */
main{
    min-height: 100vh;
    .downloadBtn{
        padding: 0;
        width: fit-content;
        .btn_top{
            padding: 0.15em 0.33em !important;
        }
    }
}

/* FOOTER STYLES */


/* GENERAL STYLES */
.custom_btn{
    --button_radius: 0.75em;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.clear_btn {
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}
.dark_btn{
    --button_color: #1a1a1a;
    --button_outline_color: #ffffff;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.btn_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.custom_btn:hover .btn_top {
    transform: translateY(-0.33em);
}

.custom_btn:active .btn_top {
    transform: translateY(0);
}
.btn-go-top{
    position: fixed;
    bottom: 50px;
    right: 20px;
    padding: 0;
    width: fit-content;
    .btn_top{
        padding: 0.13em 0.50em !important;
    }
}

/*.custom_container {
    display: flex;
    position: relative;
    gap: 1rem;
    color: black;
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    input[type="radio"]:checked + .button {
        opacity: 1;
    }
    .button {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        touch-action: manipulation;
        width: fit-content;
        border-radius: 30px;
        height: 50px;
        opacity: 0.4;
        box-shadow: 0 0 40px -5px hsl(0, 0%, 41%);
        .shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background: hsl(0deg 0% 0% / 0.25);
            will-change: transform;
            transform: translateY(2px);
            transition: all
            600ms
            cubic-bezier(.3, .7, .4, 1);
        }
        .edge {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background: linear-gradient(
                    to left,
                    hsl(0, 0%, 31%) 0%,
                    hsl(0, 0%, 62%) 8%,
                    hsl(0, 0%, 63%) 92%,
                    hsl(0, 0%, 31%) 100%
            );
        }
        .front {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            font-size: 1.1rem;
            color: white;
            background: hsl(172, 100%, 93%);
            will-change: transform;
            transform: translateY(-4px);
            box-shadow: inset 4px 4px 8px hsl(0, 0%, 54%), inset -4px -4px 8px hsl(171, 100%, 92%);
            transition: all
            600ms
            cubic-bezier(.3, .7, .4, 1);
        }
    }
    .button:hover .front {
        transform: translateY(-6px);
        transition: transform

        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }
    .button:active .front {
        transform: translateY(-2px);
        transition: transform 34ms;
    }
    .button:hover .shadow {
        transform: translateY(4px);
        transition: transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }
    .button:active .shadow {
        transform: translateY(1px);
        transition: transform 34ms;
    }
}
*/